@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: rgb(112,126,247);
    background: -moz-linear-gradient(156deg, rgba(112,126,247,1) 0%, rgba(155,248,244,1) 100%);
    background: -webkit-linear-gradient(156deg, rgba(112,126,247,1) 0%, rgba(155,248,244,1) 100%);
    background: linear-gradient(156deg, rgba(112,126,247,1) 0%, rgba(155,248,244,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#707ef7",endColorstr="#9bf8f4",GradientType=1);

    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.cp{
    border-radius: 6px;
    border: none;
    padding: 1em;
}

.cp-index{
    
    width: 90vw;
    height: 92vh;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  
    background: rgb(114,118,134);
    background: -moz-linear-gradient(180deg, rgba(114,118,134,.3) 0%, rgba(225,207,195,.3) 100%);
    background: -webkit-linear-gradient(180deg, rgba(114,118,134,.3) 0%, rgba(225,207,195,.3) 100%);
    background: linear-gradient(180deg, rgba(114,118,134,.3) 0%, rgba(225,207,195,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#727686",endColorstr="#e1cfc3",GradientType=1);

}

.cp-index:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.cp-index:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.cp-index h1{
    font-size: 4em;
    color: white;
    font-weight: 600;
    text-align: center;
}

.container{
    display: grid;
    align-content: center;
    
    width: 75vw;
    height: 62vh;
    margin: 0 auto;

    border-radius: 10px;
    background-color: black;
}

.container h1{
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 2em 0em;
    text-align: center;
}

.elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------- BOTÓN -------------------------------------------*/
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
   }
   
   .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
   }
   
   .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   
   .cssbuttons-io::before,
   .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   .cssbuttons-io:active {
    transform: scale(0.95);
   }
   /* ---------------------------------------------------------------------------*/